{% extends 'base.html' %}

{% block title %}Página Principal{% endblock %}

{% block content %}

  <div class="col-6 m-auto">
    <form action="">
      {% csrf_token %}
      <select class="form-control mt-5" name="times" id="times" required>
        <option value="">Selecione o Time</option>
        {% for times in timesFilter %}
          <option value="{{times}}">{{times}}</option>
        {% endfor %}
      </select>
    </form>
  </div>
  <div class="result col-10 m-auto">
    {% autoescape off %}
      {{ dados }}
    {% endautoescape %}
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if paginator.has_previous %}
          <li class="page-item"><a class="page-link" href="/page/{{paginator.previous_page_number}}">Anterior</a></li>
        {% endif %}
  
      <li class="page-item"><a class="page-link" href="#">{{paginator.number}}</a></li>
  
        {% if paginator.has_next %}
          <li class="page-item"><a class="page-link" href="/page/{{paginator.next_page_number}}">Próxima</a></li>
        {% endif %}
    </ul>
  </nav>
{% endblock %}